#easyjump_cmd_popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 40px;
  border: solid 2px #000;
  border-radius: 4px 4px 4px 4px;
  font-size: 18px;
  padding: 6px 6px;
  background: #fff;
}
